PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/simmers_db?schema=public"
JWT_SECRET="super-secret-jwt-key-replace-in-production-minimum-32-chars"
GEMINI_API_KEY="your-gemini-api-key-here"
